extends layout

block content
  .jumbotron
    .container
      h1 How May I help you?
      p Lorem Ipsum dolor sit ame,t consasdgfasgalkg sfsadf ssafd sadsfsd fsaf sf sfdas fsa sdf af ahahfhdsfdasf ha iaf hdasfh ahfs  fiaf ifhai ff aifdas iasfdsfi isa fs fsaf aihfsisdhfihdsif sdafdasf iafiad iasfi dhssdiufh iuafi dif iads a adsfSf asfas lafdasdf asdf...
      a.btn.btn-primary.btn-lg(href='#') Learn More &raquo;
  .container
    .row
      .col-md-4
        h2 About Us
        p adfasfa asdfhash sdaf adshahs fsahfk ashf afkjdh fksjafkhdas safaf kafjk kfafewtriurgfklajfkdash kahfdhahfds hsafdashfk hsafh kakfhdash hsdaf akhf jafkjsdakf dsaf asdkfh ldasfksda hkfhafh kadsf sdafdas ksdafh fk hdaskfh askjf dasfh sdafsdahf akhoewar rhorewa f dkfhjkasdf.
        a.btn.btn-default(href='#') View Details
      .col-md-4
        h2 About Us
        p adfasfa asdfhash sdaf adshahs fsahfk ashf afkjdh fksjafkhdas safaf kafjk kfafewtriurgfklajfkdash kahfdhahfds hsafdashfk hsafh kakfhdash hsdaf akhf jafkjsdakf dsaf asdkfh ldasfksda hkfhafh kadsf sdafdas ksdafh fk hdaskfh askjf dasfh sdafsdahf akhoewar rhorewa f dkfhjkasdf.
        a.btn.btn-default(href='#') View Details
      .col-md-4
        h2 About Us
        p adfasfa asdfhash sdaf adshahs fsahfk ashf afkjdh fksjafkhdas safaf kafjk kfafewtriurgfklajfkdash kahfdhahfds hsafdashfk hsafh kakfhdash hsdaf akhf jafkjsdakf dsaf asdkfh ldasfksda hkfhafh kadsf sdafdas ksdafh fk hdaskfh askjf dasfh sdafsdahf akhoewar rhorewa f dkfhjkasdf.
        a.btn.btn-default(href='#') View Details
